@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-display: optional;
  background-color: #000;
  color: #fff;
}

.logo {
  max-height: 36px;
}

@media (max-width: 548px) {
  .logo {
    max-height: 24px;
  }
}

header {
  z-index: 10;
}

section {
  border-bottom: 8px solid rgb(201, 18, 33)
}

.btn-login {
  background-color: #e50914;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  border-radius: 2px;
  list-style: none;
}

@media (max-width: 548px) {
  .btn-login {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
  }
}

.box-background, .box .content {
  height: 83.27vh;
}

@media (max-width: 548px) {
  .box-background {
    height: 64vh;
  }
}

.box .content h1 {
  font-size: 3.125rem;
}

.box .content h2 {
  font-size: 1.625rem;
}

.box .content h3 {
  font-size: 1.2rem;
}

@media (max-width: 548px) {
  .box .content h1 {
    font-size: 1.7rem;
  }
  .box .content h2 {
    font-size: 1.125rem;
  }
  .box .content h3 {
    font-size: 0 7%;
  }
}

.box .box-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.4);
  background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.8)),color-stop(60%,rgba(0,0,0,0)),to(rgba(0,0,0,.8)));
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
  background-image: -moz- oldlinear-gradient(bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
  background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}

.form-control {
  height: 60px;
}

@media (max-width: 548px) {
  .form-control {
    height: 48px;
    flex: none !important
  }
}

.sign-in .input-group-text {
  background-color: #e50914;
  border: solid #e50914;
  cursor: pointer;
}

.sign-in .icon-svg {
  width: 1rem;
  height: 1.2rem;
}

@media (max-width: 548px) {
  .sign-in .input-group-text  {
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2px;
    min-height: 44px;
  }
  .sign-in .icon-svg {
    width: 1rem;
    height: 0.8rem;
  }
}

section .title {
  font-size: 3.125rem;
}

section .subtitle {
  font-size: 1.625rem;
}

.video-tv img, .video-desktop img {
  position: relative;
  z-index: 1;
}

.video-tv video {
  position: absolute;
  left: 15.5%;
  top: 21%;
  max-width: 70.5%;
}

.video-desktop video {
  position: absolute;
  left: 18%;
  max-width: 64%;
  top: 11%;
}

@media (max-width: 548px) {
  section .title {
    font-size: 1.625rem;
    text-align: center;
  }
  section .subtitle {
    font-size: 1.125rem;
    text-align: center;
    padding: 0 2%;
    margin-top: 1rem;
  }
}

@media (min-width: 950px) {
  .mobile-card {
    left: -15px;
  }
}

.mobile-card {
  position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    background: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60%;
    min-width: 15em;
    padding: .25em .65em;
    border: 2px solid rgba(255,255,255,.25);
    -webkit-box-shadow: 0 0 2em 0 #000;
    -moz-box-shadow: 0 0 2em 0 #000;
    box-shadow: 0 0 2em 0 #000;
    -webkit-border-radius: .75em;
    -moz-border-radius: .75em;
    border-radius: .75em;
}

.mobile-card .card-image img {
  height: 4.5rem;
}

.mobile-card h5 {
  font-size: 1rem;
}

.mobile-card label {
  font-size: 0.9em;
  color: #0071eb;
}

.mobile-card .gif img {
  width: 3em;
}

.perguntas .accordion button {
  background:#303030;
  padding: 1.1rem 2.2rem 1.1rem 1.2rem;
  width: 100%;
  border: 0;
  text-align: left;
  position: relative;
  color: #fff;
  outline: none;
  font-size: 1.625rem;
}

.perguntas .accordion button span {
  position: absolute;
  font-size: 4rem;
  line-height: 1.1;
  right: 15px;
  bottom: 4px;
}

.perguntas .accordion button[aria-expanded="true"] span {
  transform: rotate(135deg);
}

.perguntas .accordion .card-body {
  background:#303030;
  font-size: 1.625rem;
  color: #fff;
  white-space: pre-line;
  margin-top: 2px;
}

@media (max-width: 548px){
  .perguntas {
    padding: 0;
  }
  .perguntas .accordion button {
    font-size: 1.125rem;
    padding: 0.8rem 2.2rem 0.8rem 1.2rem;
  }
  .perguntas .accordion .card-body {
    font-size: 1.125rem;
  }
  .perguntas .accordion button span {
    font-size: 2.5rem;
    line-height: 1.3;
  }
  .perguntas .subtitle {
    padding: 0 7%;
  }
  .form-group {
    margin-bottom: 8px;
  }
}

footer, footer a {
  color: #303030;
}

footer a {
  font-size: 13px;  
}

footer select {
  background-color: #000;
  background-image: none;
  border: 1px solid #333;
  color: #999;
  font-size: 16px;
  padding: 12px 26px 12px 50px;
  line-height: 1.7;
}

footer .select-globe img {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 15px;
  height: 16px;
}